#Maven
java/backoffice/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
../../.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
Python/MCP-Server-Python-Implementation/agent.py
Python/MCP-Server-Python-Implementation/__pycache__/
Python/MCP-Server-Python-Implementation/tools/domains/__pycache__/

# Go Server Exclusions
go/agent.py
go/docker-compose.yml
go/mysql-init/

# Documentation
*.md
!README.md
**/README.md
!go/README.md
!rust/benches/results.md
!rust/benches/README.md

# Plugin directory
/.quarkus/cli/plugins/
# TLS Certificates
.certs/


.idea/
java/backoffice/mifosx-mcpp.log*
java/userrecommendation/mifosx-mcpp.log*
java/backoffice/target/
java/userrecommendation/target/
java/target/